export(EffToxDesign)
export(EffToxSim)
export(efftox_solve_p)
export(efftox_theta)

export(efftox_parameters_demo)
export(efftox_utility)
export(efftox_process)
export(efftox_analysis_to_df)
export(efftox_simulate)
export(efftox_get_tox)
export(efftox_contour_plot)
export(efftox_utility_density_plot)
export(efftox_superiority)
export(efftox_parse_outcomes)
export(efftox_dtps)
export(stan_files)
export(stanmodels)

useDynLib(EffToxDesign, .registration = TRUE)

import(methods)
import(R6)
import(Rcpp)
import(rstantools)

importFrom(coda, as.mcmc, as.mcmc.list, gelman.diag)
importFrom(foreach, foreach, "%dopar%")
importFrom(logitnorm, momentsLogitnorm)
importFrom(rstan, sampling, extract)
importFrom(truncnorm, etruncnorm, vtruncnorm)
