export(EffToxDesign)
export(EffToxSim)
export(efftox_solve_p)
export(efftox_theta)

export(efftox_parameters_demo)
export(efftox_utility)
export(efftox_process)
export(efftox_analysis_to_df)
export(efftox_simulate)
export(efftox_get_tox)
export(efftox_contour_plot)
export(efftox_utility_density_plot)
export(efftox_superiority)
export(efftox_parse_outcomes)
export(stan_files)
export(stanmodels)

export(TwoPhaseDesign)
export(TwoPhaseSim)

useDynLib(EffToxDesign, .registration = TRUE)

import(methods)
import(R6)
import(Rcpp)
import(rstantools)

importFrom(bcrm, threep3)
importFrom(clinfun, ph2single)
importFrom(coda, as.mcmc, as.mcmc.list, gelman.diag)
importFrom(foreach, foreach, "%dopar%")
importFrom(gtools, combinations)
importFrom(logitnorm, momentsLogitnorm)
importFrom(magrittr, "%>%")
importFrom(rstan, sampling, extract)
importFrom(truncnorm, etruncnorm, vtruncnorm)
