export(EffToxDesign)
export(EffToxSelect)
export(EffToxSim)
export(efftox_theta)

export(TwoPhaseDesign)
export(TwoPhaseSim)

useDynLib(EffToxDesign, .registration = TRUE)

import(ggplot2)
import(methods)
import(R6)
import(Rcpp)
import(rstantools)

importFrom(bcrm, threep3)
importFrom(clinfun, ph2single)
importFrom(coda, as.mcmc, as.mcmc.list, gelman.diag)
importFrom(foreach, foreach, "%dopar%")
importFrom(gtools, combinations)
importFrom(logitnorm, momentsLogitnorm)
importFrom(magrittr, "%>%")
importFrom(rstan, sampling, extract)
importFrom(stats, lm, quantile)
importFrom(truncnorm, etruncnorm, vtruncnorm)
importFrom(utils, tail)
